.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1527470738868-c07a40621667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}


.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
  width: 100%;
  border: 0;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}

a:focus,
a.box:focus,
.button:focus,
.button.is-link:focus,
.button.is-info:focus,
.navbar-item.has-text-white:focus,
.button.is-white.is-outlined:focus,
.input.is-active, 
.input.is-focused, 
.input:active, 
.input:focus, 
.textarea.is-active, 
.textarea.is-focused, 
.textarea:active, 
.textarea:focus,
.select select.is-active, 
.select select.is-focused, 
.select select:active, 
.select select:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
.hero.is-info .tabs.is-boxed button:focus,
.navbar-burger:focus { 
  box-shadow: none;
  outline: 2px rgba(235,115,0,.8) solid;
  border-color: transparent;
}

main {
  margin-top: -53px;
}

.navbar {
  background: transparent;
}

.hero.is-info {
  background: white;
}

.hero.hero.is-info .tab-content .title,
.hero.hero.is-info .tab-content {
  color: #363636;
}

.button.is-info,
.hero.is-info .hero-body,
.hero.is-info .tabs {
  background: #0a478e;
}

a,
.hero.is-info .tabs.is-boxed li.is-active a, 
.hero.is-info .tabs.is-boxed li.is-active a:hover, 
.hero.is-info .tabs.is-toggle li.is-active a, 
.hero.is-info .tabs.is-toggle li.is-active a:hover,
.hero.is-info a:not(.button):not(.dropdown-item):not(.tag) {
  color: #0a478e;
}

.hero.is-info .tabs.is-boxed li.is-active a:hover, 
.hero.is-info .tabs.is-toggle li.is-active a:hover,
.hero.is-info a:not(.button):not(.dropdown-item):not(.tag):hover {
  text-decoration: underline;
}

.tag:not(body).is-primary {
    background-color: #067564;
}

.tag:not(body).is-danger {
    background-color: #df1840; 
  }

  .tag:not(body).is-success {
    background-color: #028831;}

.has-background-grey-light {
    background-color: #d4d2d2!important;
}

.has-text-grey-light {
    color: #707070!important;
}

.help.is-success {
    color: #028831;
}

.help.is-danger {
    color: #df1840;
}

.tile.is-child.box .image {
  height: 180px;
  overflow: hidden;
}

figure img {
  width: 256px;
}

.navbar-burger span {
    background-color: #fff;
  }

.hero.is-info .tabs.is-boxed button {
  color: white;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 1rem;
  opacity:  .9; 
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: .5em 1em;
  vertical-align: top;
  cursor: pointer;
}

.hero.is-info .tabs.is-boxed button:hover {
    background-color: rgba(10,10,10,.3);
}

.hero.is-info .tabs.is-boxed li.is-active button,
.hero.is-info .tabs.is-boxed li.is-active button:hover, 
.hero.is-info .tabs.is-toggle li.is-active button, 
.hero.is-info .tabs.is-toggle li.is-active button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #0a478e;
    opacity: 1
}


.in-new-window {
  background: url(../icon/external.png) 90% center no-repeat;
  padding-right: 25px;
}


.navbar-burger {
  background: transparent;
  border: none;
}

fieldset {
  border: none;
}

fieldset:not(:last-child) {
    margin-bottom: .75rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.visually-hidden:focus {
  height: auto;
  width: auto;
  clip: auto;
}

.breadcrumbs {
  padding: 0 1.5em;
  position: absolute;
  top: 80px;
}

.breadcrumbs li {
  display: inline-block;
  padding: 0 .25em;
}

.breadcrumbs a {
  color: white;
  text-decoration: underline;
}

.breadcrumbs a:hover {
  color: #ccc;
}

.breadcrumbs a[aria-current="page"] {
  cursor: default;
  color: #ccc;
  text-decoration: none;
}

.breadcrumbs li::after {
    content: '>';
    margin-left: .5em;
    color: white;
}
.breadcrumbs li:last-child::after {
    content: '';
}

.skipnav {
  position: relative;
  z-index: 31;
}

.toggleSkipnav {
  position: absolute;
  top: -110%;
  left: 0;
  background: transparent;
  border: 0;
  padding: 1em;
}

.toggleSkipnav:after {
  display: none;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid rgb(235,115,0);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
  margin: 7px 0 0 7px;
}

.skip-link:focus,
.toggleSkipnav:focus {
  color: rgb(235,115,0);
}

.toggleSkipnav:focus::after {
  display: inline-block;
}

.skipnav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 10px 0 0 10px;
  background: #fff;
  width: 150px;
  padding: 1em;
  border-radius: 6px;
  display: none;
}

.is-active > .skipnav-dropdown {
  display: block;
}

.skip-title {
  font-weight: bold;
  border-bottom: 1px solid #999;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

.video-transcript {
  margin: 55px 0 0;
}

.modal a,
.field a,
.media-content a {
  text-decoration: underline;
}
.video-transcript p {
  margin: 0 0 10px;
}

.button[aria-disabled="true"] {
  background-color: #3273dc;
  border-color: transparent;
  box-shadow: none;
  cursor: not-allowed;
  opacity: .5;
}


@media screen and (max-width: 1087px) {
  .navbar.is-active {
    background-color: #222;
    display: block;
  }
  .navbar-menu {
    background-color: #888;
  }
}

@media screen and (min-width: 1088px) {
  .navbar-burger {
      display: none !important;
  }
}